.venv
install_arm64_mac

build/build_mac
build/conan

data/models/expression_neutrality
data/models/expression_neutrality/grimmer
data/models/expression_neutrality/hsemotion
data/models/face_detection
data/models/face_landmark_estimation
data/models/face_occlusion_segmentation
data/models/face_parsing
data/models/head_pose_estimation
data/models/no_compression_artifacts
data/models/sharpness
data/models/unified_quality_score

data/tests/images
data/tests/conformance-test-target-values-TableA1-4.zip

extern/onnxruntime-osx-universal2-1.18.1